.flexContainer {
  display: flex;
  gap: 2.083vw 4.688vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vw;
}

.section {
  margin-left: 9.131vw;
  font-size: 1.458vw;
  margin-bottom: 2.083vw;
  margin-top: 4.115vw;
}
.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.searchBar {
  width: 21.354vw;
  height: 2.604vw;
  border-radius: 1.302vw;
  border-style: none;
  font-size: 1.042vw;
  text-align: center;
  letter-spacing: 0.063vw;
}
.welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  font-size: 5vw;
  text-align: center;
  row-gap: 4vw;
}
.welcomeMessage > span:nth-child(2) {
  font-size: 3vw;
  width: 40vw;
  line-height: 4vw;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    gap: 6vw 3vw;
  }
  .section {
    font-size: 4vw;
  }
  .searchBar {
    font-size: 18px;
    width: unset;
    height: 24px;
  }
}
