.container {
  width: 100vw;
  margin-bottom: 10vw;
}
.flexHeader {
  margin-top: 1.458vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 31.667vw;
  border-bottom: 0.156vw solid #242e2380;
}
.categories {
  font-size: 1.638vw;
  letter-spacing: 0.047vw;
  color: #364144;
  display: flex;
  list-style: none;
  column-gap: 4.167vw;
}
.title {
  line-height: 2.188vw;
  font-size: 1.875vw;
  letter-spacing: 0.056vw;
  font-weight: bold;
}
.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.057vw;
  column-gap: 2vw;
}
.searchBar {
  width: 21.354vw;
  height: 2.604vw;
  border-radius: 1.302vw;
  border-style: none;
  font-size: 1.042vw;
  text-align: center;
  letter-spacing: 0.063vw;
}
.dropDown {
  position: relative;
}
.subMenu {
  background-color: #364144;
  position: absolute;
  color: #ebebe8;
  font-size: 1.281vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0.885vw 1vw;
  display: none;
  left: -0.5vw;
}
.dropDown:hover .subMenu {
  display: flex;
}
.subMenu > li {
  padding: 0.521vw;
  cursor: pointer;
}
.subMenu > li:hover {
  background-color: rgb(233, 48, 205);
}
.buttons {
  border-radius: 2vw;
  padding: 1vw;
  border-style: double;
}
